.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-top: 50px;
  background: #ECEFF1;
  background:rgb(49, 113, 159);
  background: transparent;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  top: 200px;
}


